services:
  - type: web
    name: bridgeit-backend
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn bridgeit_backend.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*" 
